16 FEB ASSIGNMENT

1.

In [1]:
"""A database is a software application designed to store, organize, and manage large amounts of data. It provides a way to access, retrieve, and manipulate data stored in the database. Databases are used in a wide range of applications, from managing customer information in a business to storing data in scientific research."""

'A database is a software application designed to store, organize, and manage large amounts of data. It provides a way to access, retrieve, and manipulate data stored in the database. Databases are used in a wide range of applications, from managing customer information in a business to storing data in scientific research.'

In [2]:
"""SQL databases use Structured Query Language (SQL) to interact with the data. They are relational databases, which means that they organize data into tables with predefined columns and rows. SQL databases are designed to handle structured data with a fixed schema, which makes them suitable for applications that require complex queries and data transactions. Examples of SQL databases include Oracle, MySQL, and PostgreSQL."""

'SQL databases use Structured Query Language (SQL) to interact with the data. They are relational databases, which means that they organize data into tables with predefined columns and rows. SQL databases are designed to handle structured data with a fixed schema, which makes them suitable for applications that require complex queries and data transactions. Examples of SQL databases include Oracle, MySQL, and PostgreSQL.'

In [3]:
"""NoSQL databases, on the other hand, are non-relational databases that do not use SQL. They are designed to handle unstructured or semi-structured data, which makes them ideal for applications that require high scalability and flexibility. NoSQL databases can handle a variety of data types, including text, images, and videos. Examples of NoSQL databases include MongoDB, Cassandra, and Redis."""

'NoSQL databases, on the other hand, are non-relational databases that do not use SQL. They are designed to handle unstructured or semi-structured data, which makes them ideal for applications that require high scalability and flexibility. NoSQL databases can handle a variety of data types, including text, images, and videos. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.'

In [4]:
"""In Conclusion, SQL databases are best suited for applications that require structured data with a fixed schema and complex queries, while NoSQL databases are ideal for applications that require high scalability and flexibility with unstructured or semi-structured data."""

'In Conclusion, SQL databases are best suited for applications that require structured data with a fixed schema and complex queries, while NoSQL databases are ideal for applications that require high scalability and flexibility with unstructured or semi-structured data.'

2.

In [5]:
"""DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database, including tables, indexes, and constraints."""

'DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database, including tables, indexes, and constraints.'

In [6]:
# The four main DDL commands are:

In [10]:
"""1. CREATE: This command is used to create a new database object, such as a table or index, in a database."""

'1. CREATE: This command is used to create a new database object, such as a table or index, in a database.'

In [ ]:
CREATE TABLE users (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);

In [9]:
"""2. DROP: This command is used to delete a database object, such as a table or index, from a database."""

'2. DROP: This command is used to delete a database object, such as a table or index, from a database.'

In [ ]:
DROP TABLE users;

In [11]:
"""3. ALTER: This command is used to modify the structure of an existing database object, such as a table or index."""

'3. ALTER: This command is used to modify the structure of an existing database object, such as a table or index.'

In [ ]:
ALTER TABLE users ADD COLUMN phone VARCHAR(20);

In [12]:
"""4. TRUNCATE: This command is used to remove all data from a table without deleting the table itself."""

'4. TRUNCATE: This command is used to remove all data from a table without deleting the table itself.'

In [ ]:
TRUNCATE TABLE users;

In [13]:
"""These DDL commands are essential for managing the structure and contents of a database. CREATE is used to define new database objects, DROP is used to remove them, ALTER is used to modify them, and TRUNCATE is used to remove all data from a table. By using these commands, database administrators can create and maintain a database schema that meets the needs of their applications."""

'These DDL commands are essential for managing the structure and contents of a database. CREATE is used to define new database objects, DROP is used to remove them, ALTER is used to modify them, and TRUNCATE is used to remove all data from a table. By using these commands, database administrators can create and maintain a database schema that meets the needs of their applications.'

3.

In [14]:
"""DML stands for Data Manipulation Language, which is a subset of SQL used to modify and manipulate data within a database."""

'DML stands for Data Manipulation Language, which is a subset of SQL used to modify and manipulate data within a database.'

In [16]:
# The three main DML commands are:

In [17]:
"""1. INSERT: This command is used to add new rows of data to a table in a database."""

'1. INSERT: This command is used to add new rows of data to a table in a database.'

In [ ]:
INSERT INTO users (id, name, email) VALUES (1, 'John', 'john@example.com');

In [18]:
"""2. UPDATE: This command is used to modify existing rows of data in a table."""

'2. UPDATE: This command is used to modify existing rows of data in a table.'

In [ ]:
UPDATE users SET email = 'john.doe@example.com' WHERE id = 1;

In [19]:
"""3. DELETE: This command is used to remove rows of data from a table."""

'3. DELETE: This command is used to remove rows of data from a table.'

In [ ]:
DELETE FROM users WHERE id = 1;

In [20]:
"""In Conclusion, These DML commands are essential for managing the contents of a database. INSERT is used to add new data, UPDATE is used to modify existing data, and DELETE is used to remove data. By using these commands, database administrators can manipulate data within a database to meet the needs of their applications."""

'In Conclusion, These DML commands are essential for managing the contents of a database. INSERT is used to add new data, UPDATE is used to modify existing data, and DELETE is used to remove data. By using these commands, database administrators can manipulate data within a database to meet the needs of their applications.'

4.

In [21]:
"""DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database."""

'DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database.'

In [22]:
# The main DQL command is:

In [23]:
"""SELECT: This command is used to retrieve data from one or more tables in a database."""

'SELECT: This command is used to retrieve data from one or more tables in a database.'

In [ ]:
SELECT * FROM users;

In [24]:
"""By using the SELECT command and its various options, you can retrieve data from one or more tables, filter and sort the results, and retrieve only the data you need to meet the needs of your applications."""

'By using the SELECT command and its various options, you can retrieve data from one or more tables, filter and sort the results, and retrieve only the data you need to meet the needs of your applications.'

5.

In [25]:
"""In database design, a primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce entity integrity, which means that each row in a table represents a unique entity or object. A primary key is typically a numeric or alphanumeric value that is assigned to each row when it is created."""

'In database design, a primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce entity integrity, which means that each row in a table represents a unique entity or object. A primary key is typically a numeric or alphanumeric value that is assigned to each row when it is created.'

In [26]:
"""For example, in a table of employees, the primary key could be an employee ID number. This ID number uniquely identifies each employee in the table, ensuring that each row represents a unique employee."""

'For example, in a table of employees, the primary key could be an employee ID number. This ID number uniquely identifies each employee in the table, ensuring that each row represents a unique employee.'

In [27]:
"""A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to enforce referential integrity, which means that the data in one table is linked to the data in another table."""

'A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to enforce referential integrity, which means that the data in one table is linked to the data in another table.'

In [28]:
"""For example, in a table of orders, the foreign key could be a customer ID number that refers to the primary key of a table of customers. This links each order to a specific customer in the customers table, ensuring that the data in both tables is consistent and accurate."""

'For example, in a table of orders, the foreign key could be a customer ID number that refers to the primary key of a table of customers. This links each order to a specific customer in the customers table, ensuring that the data in both tables is consistent and accurate.'

6.

In [ ]:
import mysql.connector

# establish connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

result = mycursor.fetchall()

for row in result:
  print(row)

In [29]:
"""The cursor() method creates a cursor object that can be used to execute queries and fetch results from the database."""

'The cursor() method creates a cursor object that can be used to execute queries and fetch results from the database.'

In [30]:
"""The execute() method is used to execute a SQL query on the database. It takes a single argument, which is a string containing the SQL query to be executed."""

'The execute() method is used to execute a SQL query on the database. It takes a single argument, which is a string containing the SQL query to be executed.'

7.

In [31]:
"""The order of execution of SQL clauses in an SQL query is as follows:"""

'The order of execution of SQL clauses in an SQL query is as follows:'

In [ ]:
1. FROM: This clause specifies the table or tables from which the data should be retrieved.

2. WHERE: This clause is used to filter the data based on a specified condition.

3. GROUP BY: This clause is used to group the data by one or more columns.

4. HAVING: This clause is used to filter the grouped data based on a specified condition.

5. SELECT: This clause is used to select the columns to be retrieved.

6. ORDER BY: This clause is used to sort the data based on a specified column or columns.

7. LIMIT: This clause is used to limit the number of rows returned by the query.